
<div class="product_sidebar">  
  {% section 'sidebar-category' %}   
  {% section 'product-sidebar-deals' %}
  {% section 'custom-text-type-1' %}
  {% section 'product-sidebar-bestsellers' %}   
  {% section 'sidebar-promoimage' %}
</div>
