<div class="grid__item">
  <div class="collection-products position-change">
    {% include 'collection-sidebar' %}
    <div class="collection_grid_template second">
      {% section 'collection-template' %}
    </div>
  </div>
</div>

<style>

  .collection-boxed .products-boxed-view > ul LI.grid__item.item-row.extra-large--one-quarter,
  .collection-list .products-boxed-view ul li.grid__item.item-row {
    opacity: 1!important;
  }

</style>